.button .base {
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button .default {
    background-color: #FE9709;
    background-image: -moz-linear-gradient(center top , #FE9B0A, #FE9107);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -3px 1px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button .default:hover, .button .default:active, .button .default.active, .button .default.disabled, .button .default[disabled] {
    background-color: #FE9107;
}
.button .default:active, .button .default.active {
}
.button .default:hover {
    background-color: #FEA72E;
    background-image: -moz-linear-gradient(center top , #FEAB2F, #FEA12C);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button .default:hover:hover, .button .default:hover:active, .button .default.active:hover, .button .default.disabled:hover, .button .default[disabled]:hover {
    background-color: #FEA12C;
}
.button .default:hover:active, .button .default.active:hover {
}
.button .default:active {
    background-color: #FE9508;
    background-image: -moz-linear-gradient(center top , #FE9107, #FE9C0A);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset;
}
.button .default:active:hover, .button .default:active:active, .button .default.active:active, .button .default.disabled:active, .button .default[disabled]:active {
    background-color: #FE9C0A;
}
.button .default:active:active, .button .default.active:active {
}
.button .tertiary {
    background-color: #748A96;
    background-image: -moz-linear-gradient(center top , #788E9A, #6D838F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -3px 1px rgba(92, 111, 122, 0.8) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button .tertiary:hover, .button .tertiary:active, .button .tertiary.active, .button .tertiary.disabled, .button .tertiary[disabled] {
    background-color: #6D838F;
}
.button .tertiary:active, .button .tertiary.active {
}
.button .tertiary:hover {
    background-color: #788E9A;
    background-image: -moz-linear-gradient(center top , #788E9A, #788E9A);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button .tertiary:hover:hover, .button .tertiary:hover:active, .button .tertiary.active:hover, .button .tertiary.disabled:hover, .button .tertiary[disabled]:hover {
    background-color: #788E9A;
}
.button .tertiary:hover:active, .button .tertiary.active:hover {
}
.button .tertiary:active {
    background-color: #718793;
    background-image: -moz-linear-gradient(center top , #6D838F, #788E9A);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 1px rgba(92, 111, 122, 0.8) inset;
}
.button .tertiary:active:hover, .button .tertiary:active:active, .button .tertiary.active:active, .button .tertiary.disabled:active, .button .tertiary[disabled]:active {
    background-color: #788E9A;
}
.button .tertiary:active:active, .button .tertiary.active:active {
}
.button .blue {
    background-color: #077AB3;
    background-image: -moz-linear-gradient(center top , #087FB6, #0573AE);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -3px 1px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button .blue:hover, .button .blue:active, .button .blue.active, .button .blue.disabled, .button .blue[disabled] {
    background-color: #0573AE;
}
.button .blue:active, .button .blue.active {
}
.button .blue:hover {
    background-color: #2C8EBF;
    background-image: -moz-linear-gradient(center top , #2D92C2, #2A88BA);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button .blue:hover:hover, .button .blue:hover:active, .button .blue.active:hover, .button .blue.disabled:hover, .button .blue[disabled]:hover {
    background-color: #2A88BA;
}
.button .blue:hover:active, .button .blue.active:hover {
}
.button .blue:active {
    background-color: #0677B2;
    background-image: -moz-linear-gradient(center top , #0572AE, #087FB7);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset;
}
.button .blue:active:hover, .button .blue:active:active, .button .blue.active:active, .button .blue.disabled:active, .button .blue[disabled]:active {
    background-color: #087FB7;
}
.button .blue:active:active, .button .blue.active:active {
}
.button .blue-gray {
    background-color: #738996;
    background-image: -moz-linear-gradient(center top , #788E9A, #6C828F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 0 #5C6F79 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button .blue-gray:hover, .button .blue-gray:active, .button .blue-gray.active, .button .blue-gray.disabled, .button .blue-gray[disabled] {
    background-color: #6C828F;
}
.button .blue-gray:active, .button .blue-gray.active {
}
.button .blue-gray:hover, .button .blue-gray:active {
    background-color: #677C89;
    background-image: -moz-linear-gradient(center top , #6A828E, #617580);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button .blue-gray:hover:hover, .button .blue-gray:active:hover, .button .blue-gray:hover:active, .button .blue-gray:active:active, .button .blue-gray.active:hover, .button .blue-gray.active:active, .button .blue-gray.disabled:hover, .button .blue-gray.disabled:active, .button .blue-gray[disabled]:hover, .button .blue-gray[disabled]:active {
    background-color: #617580;
}
.button .blue-gray:hover:active, .button .blue-gray:active:active, .button .blue-gray.active:hover, .button .blue-gray.active:active {
}
.button .blue-matte {
    background-color: #5D9FDA;
    background-image: -moz-linear-gradient(center top , #61A3DE, #5898D3);
    background-repeat: repeat-x;
    border: 1px solid #5898D3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 0 #4A81B3 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button .blue-matte:hover, .button .blue-matte:active, .button .blue-matte.active, .button .blue-matte.disabled, .button .blue-matte[disabled] {
    background-color: #5898D3;
}
.button .blue-matte:active, .button .blue-matte.active {
}
.button .blue-matte:hover, .button .blue-matte:active {
    background-color: #4992D5;
    background-image: -moz-linear-gradient(center top , #4C97DA, #448CCE);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button .blue-matte:hover:hover, .button .blue-matte:active:hover, .button .blue-matte:hover:active, .button .blue-matte:active:active, .button .blue-matte.active:hover, .button .blue-matte.active:active, .button .blue-matte.disabled:hover, .button .blue-matte.disabled:active, .button .blue-matte[disabled]:hover, .button .blue-matte[disabled]:active {
    background-color: #448CCE;
}
.button .blue-matte:hover:active, .button .blue-matte:active:active, .button .blue-matte.active:hover, .button .blue-matte.active:active {
}
.button .green {
    background-color: #6CB81F;
    background-image: -moz-linear-gradient(center top , #6EBB1F, #6AB31F);
    background-repeat: repeat-x;
    border: 1px solid #6EBB1F;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button .green:hover, .button .green:active, .button .green.active, .button .green.disabled, .button .green[disabled] {
    background-color: #6AB31F;
}
.button .green:active, .button .green.active {
}
.button .green:hover, .button .green:active {
    background-color: #60A21B;
    background-image: -moz-linear-gradient(center top , #61A51B, #5D9D1B);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button .green:hover:hover, .button .green:active:hover, .button .green:hover:active, .button .green:active:active, .button .green.active:hover, .button .green.active:active, .button .green.disabled:hover, .button .green.disabled:active, .button .green[disabled]:hover, .button .green[disabled]:active {
    background-color: #5D9D1B;
}
.button .green:hover:active, .button .green:active:active, .button .green.active:hover, .button .green.active:active {
}
.button .citrine {
    background-color: #C2D71C;
    background-image: -moz-linear-gradient(center top , #C6DB23, #BBD011);
    background-repeat: repeat-x;
    border: 1px solid #BBD011;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 0 #A7BA11 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button .citrine:hover, .button .citrine:active, .button .citrine.active, .button .citrine.disabled, .button .citrine[disabled] {
    background-color: #BBD011;
}
.button .citrine:active, .button .citrine.active {
}
.button .citrine:hover, .button .citrine:active {
    background-color: #B9CE1B;
    background-image: -moz-linear-gradient(center top , #BED222, #B3C710);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button .citrine:hover:hover, .button .citrine:active:hover, .button .citrine:hover:active, .button .citrine:active:active, .button .citrine.active:hover, .button .citrine.active:active, .button .citrine.disabled:hover, .button .citrine.disabled:active, .button .citrine[disabled]:hover, .button .citrine[disabled]:active {
    background-color: #B3C710;
}
.button .citrine:hover:active, .button .citrine:active:active, .button .citrine.active:hover, .button .citrine.active:active {
}
.button .gray {
    background-color: #B7B7B7;
    background-image: -moz-linear-gradient(center top , #BBBBBB, #B0B0B0);
    background-repeat: repeat-x;
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 0 #959595 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button .gray:hover, .button .gray:active, .button .gray.active, .button .gray.disabled, .button .gray[disabled] {
    background-color: #B0B0B0;
}
.button .gray:active, .button .gray.active {
}
.button .gray:hover, .button .gray:active {
    background: none repeat scroll 0 0 #ABABAB;
}
.button .white {
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(center top , #FBFBFB, #F9F9F9);
    background-repeat: repeat-x;
    border: 1px solid #E2E2E2;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15) inset;
    color: #718895;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
    padding: 7px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px #FFFFFF;
}
.button .white:hover, .button .white:active, .button .white.active, .button .white.disabled, .button .white[disabled] {
    background-color: #F9F9F9;
}
.button .white:active, .button .white.active {
}
.button .white:active, .button .white:hover {
    background-color: #E9E9E9;
    border: 1px solid #E0E0E0;
}
.button .red {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DF2020;
    background-image: -moz-linear-gradient(center top , #E32525, #D81919);
    background-repeat: repeat-x;
    border-color: #E32525 #E63F3F;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 -1px 1px #B71515 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: normal;
    padding: 8px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.button .red:hover, .button .red:active, .button .red.active, .button .red.disabled, .button .red[disabled] {
    background-color: #D81919;
}
.button .red:active, .button .red.active {
}
.button .red:active, .button .red:hover {
    background: none repeat scroll 0 0 #B71515;
    border: 1px solid #BD362F;
}
.button.large {
    font-size: 1.15em;
    padding: 11px 25px;
}
.button.default {
    background-color: #FE9709;
    background-image: -moz-linear-gradient(center top , #FE9B0A, #FE9107);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -3px 1px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button.default:hover, .button.default:active, .button.default.active, .button.default.disabled, .button.default[disabled] {
    background-color: #FE9107;
}
.button.default:active, .button.default.active {
}
.button.default:hover {
    background-color: #FEA72E;
    background-image: -moz-linear-gradient(center top , #FEAB2F, #FEA12C);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button.default:hover:hover, .button.default:hover:active, .button.default.active:hover, .button.default.disabled:hover, .button.default[disabled]:hover {
    background-color: #FEA12C;
}
.button.default:hover:active, .button.default.active:hover {
}
.button.default:active {
    background-color: #FE9508;
    background-image: -moz-linear-gradient(center top , #FE9107, #FE9C0A);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset;
}
.button.default:active:hover, .button.default:active:active, .button.default.active:active, .button.default.disabled:active, .button.default[disabled]:active {
    background-color: #FE9C0A;
}
.button.default:active:active, .button.default.active:active {
}
.button.blue {
    background-color: #077AB3;
    background-image: -moz-linear-gradient(center top , #087FB6, #0573AE);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -3px 1px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button.blue:hover, .button.blue:active, .button.blue.active, .button.blue.disabled, .button.blue[disabled] {
    background-color: #0573AE;
}
.button.blue:active, .button.blue.active {
}
.button.blue:hover {
    background-color: #2C8EBF;
    background-image: -moz-linear-gradient(center top , #2D92C2, #2A88BA);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button.blue:hover:hover, .button.blue:hover:active, .button.blue.active:hover, .button.blue.disabled:hover, .button.blue[disabled]:hover {
    background-color: #2A88BA;
}
.button.blue:hover:active, .button.blue.active:hover {
}
.button.blue:active {
    background-color: #0677B2;
    background-image: -moz-linear-gradient(center top , #0572AE, #087FB7);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset;
}
.button.blue:active:hover, .button.blue:active:active, .button.blue.active:active, .button.blue.disabled:active, .button.blue[disabled]:active {
    background-color: #087FB7;
}
.button.blue:active:active, .button.blue.active:active {
}
.button.blue-matte {
    background-color: #5D9FDA;
    background-image: -moz-linear-gradient(center top , #61A3DE, #5898D3);
    background-repeat: repeat-x;
    border: 1px solid #5898D3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 0 #4A81B3 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button.blue-matte:hover, .button.blue-matte:active, .button.blue-matte.active, .button.blue-matte.disabled, .button.blue-matte[disabled] {
    background-color: #5898D3;
}
.button.blue-matte:active, .button.blue-matte.active {
}
.button.blue-matte:hover, .button.blue-matte:active {
    background-color: #4992D5;
    background-image: -moz-linear-gradient(center top , #4C97DA, #448CCE);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button.blue-matte:hover:hover, .button.blue-matte:active:hover, .button.blue-matte:hover:active, .button.blue-matte:active:active, .button.blue-matte.active:hover, .button.blue-matte.active:active, .button.blue-matte.disabled:hover, .button.blue-matte.disabled:active, .button.blue-matte[disabled]:hover, .button.blue-matte[disabled]:active {
    background-color: #448CCE;
}
.button.blue-matte:hover:active, .button.blue-matte:active:active, .button.blue-matte.active:hover, .button.blue-matte.active:active {
}
.button.blue-gray {
    background-color: #738996;
    background-image: -moz-linear-gradient(center top , #788E9A, #6C828F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 0 #5C6F79 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button.blue-gray:hover, .button.blue-gray:active, .button.blue-gray.active, .button.blue-gray.disabled, .button.blue-gray[disabled] {
    background-color: #6C828F;
}
.button.blue-gray:active, .button.blue-gray.active {
}
.button.blue-gray:hover, .button.blue-gray:active {
    background-color: #677C89;
    background-image: -moz-linear-gradient(center top , #6A828E, #617580);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button.blue-gray:hover:hover, .button.blue-gray:active:hover, .button.blue-gray:hover:active, .button.blue-gray:active:active, .button.blue-gray.active:hover, .button.blue-gray.active:active, .button.blue-gray.disabled:hover, .button.blue-gray.disabled:active, .button.blue-gray[disabled]:hover, .button.blue-gray[disabled]:active {
    background-color: #617580;
}
.button.blue-gray:hover:active, .button.blue-gray:active:active, .button.blue-gray.active:hover, .button.blue-gray.active:active {
}
.button.citrine {
    background-color: #C2D71C;
    background-image: -moz-linear-gradient(center top , #C6DB23, #BBD011);
    background-repeat: repeat-x;
    border: 1px solid #BBD011;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 0 #A7BA11 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button.citrine:hover, .button.citrine:active, .button.citrine.active, .button.citrine.disabled, .button.citrine[disabled] {
    background-color: #BBD011;
}
.button.citrine:active, .button.citrine.active {
}
.button.citrine:hover, .button.citrine:active {
    background-color: #B9CE1B;
    background-image: -moz-linear-gradient(center top , #BED222, #B3C710);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button.citrine:hover:hover, .button.citrine:active:hover, .button.citrine:hover:active, .button.citrine:active:active, .button.citrine.active:hover, .button.citrine.active:active, .button.citrine.disabled:hover, .button.citrine.disabled:active, .button.citrine[disabled]:hover, .button.citrine[disabled]:active {
    background-color: #B3C710;
}
.button.citrine:hover:active, .button.citrine:active:active, .button.citrine.active:hover, .button.citrine.active:active {
}
.button.gray {
    background-color: #B7B7B7;
    background-image: -moz-linear-gradient(center top , #BBBBBB, #B0B0B0);
    background-repeat: repeat-x;
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 0 #959595 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: normal;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button.gray:hover, .button.gray:active, .button.gray.active, .button.gray.disabled, .button.gray[disabled] {
    background-color: #B0B0B0;
}
.button.gray:active, .button.gray.active {
}
.button.gray:hover, .button.gray:active {
    background: none repeat scroll 0 0 #ABABAB;
}
.button.white {
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(center top , #FBFBFB, #F9F9F9);
    background-repeat: repeat-x;
    border: 1px solid #E2E2E2;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15) inset;
    color: #718895;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
    padding: 7px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px #FFFFFF;
}
.button.white:hover, .button.white:active, .button.white.active, .button.white.disabled, .button.white[disabled] {
    background-color: #F9F9F9;
}
.button.white:active, .button.white.active {
}
.button.white:active, .button.white:hover {
    background-color: #E9E9E9;
    border: 1px solid #E0E0E0;
}
.button.red {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DF2020;
    background-image: -moz-linear-gradient(center top , #E32525, #D81919);
    background-repeat: repeat-x;
    border-color: #E32525 #E63F3F;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 -1px 1px #B71515 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: normal;
    padding: 8px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.button.red:hover, .button.red:active, .button.red.active, .button.red.disabled, .button.red[disabled] {
    background-color: #D81919;
}
.button.red:active, .button.red.active {
}
.button.red:active, .button.red:hover {
    background: none repeat scroll 0 0 #B71515;
    border: 1px solid #BD362F;
}
.button.large {
    font-size: 1.15em;
    padding: 11px 25px;
}