em {
  font-style: italic;
}
.api-docs {
  color: #333333;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
.api-docs a {
  text-decoration: none;
}
.api-docs:after {
  clear: both;
}
.api-docs .sub-header-container {
  height: 92px;
  width: 1200px;
  position: fixed;
  z-index: 1;
  border-right: 1px solid #e2e2e2;
}
.api-docs .sub-header-container .sub-header {
  height: 90px;
  z-index: 1000;
  margin-left: 0%;
  width: 100%;
}
.api-docs .sub-header-container .fixed-scroll {
  height: 90px;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 1200px;
}
.api-docs #document-area {
  position: relative;
}
.api-docs #document-area:after {
  clear: both;
}
.api-docs #document-area #api-docs-content aside #toc {
  position: fixed;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: bold;
  padding: 25px 0 35px 0px;
  width: 186px;
  overflow: auto;
  height: 500px;
  margin-left: -1%;
}
.api-docs #document-area #api-docs-content aside #toc li.highlighted > a {
  background: none repeat scroll 0 0 #dadada;
  border-radius: 18px 18px 18px 18px;
}
.api-docs #document-area #api-docs-content aside #toc .level-1 li {
  color: #333333;
  line-height: 2.5em;
}
.api-docs #document-area #api-docs-content aside #toc .level-1 li a {
  color: #333333;
}
.api-docs #document-area #api-docs-content aside #toc .level-1 li a:hover {
  color: #000000;
}
.api-docs #document-area #api-docs-content aside #toc .level-2 {
  margin-left: 17px;
}
.api-docs #document-area #api-docs-content aside #toc .level-2 li {
  font-size: 1em;
  font-weight: normal;
}
.api-docs #document-area #api-docs-content aside #toc .level-2 li a {
  color: #009add;
}
.api-docs #document-area #api-docs-content aside #toc .level-2 li a:hover {
  color: #05689a;
}
.api-docs #document-area #api-docs-content aside #toc .level-3 li {
  font-size: 1.08em;
  line-height: 2.08em;
}
.api-docs #document-area #api-docs-content aside #toc .level-3 li a {
  color: #666666;
}
.api-docs #document-area #api-docs-content aside #toc .level-3 li a:hover {
  color: #333333;
}
.api-docs #document-area #api-docs-content .main {
  border-left: 1px solid #ececec;
  box-shadow: 2px 0 5px #f4f4f4 inset;
  padding: 39px 0 40px 50px;
  margin-left: 19.89%;
  margin-top: -6px;
}
.api-docs #document-area #api-docs-content .main .deprecated {
  background: #e66a6d;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin-top: 33px;
  padding: 20px 15px;
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  vertical-align: baseline;
}
.api-docs #document-area #api-docs-content .main .back-to-top {
  position: fixed;
  z-index: 9999;
  right: 15%;
  bottom: 80px;
}
.api-docs #document-area #api-docs-content .main .back-to-top a {
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  border-radius: 140px;
  background: #f4f4f4 url('/static-assets/images/back-arrow.png') no-repeat center 10px;
  background-size: 18px;
  display: inline-block;
  height: 40px;
  text-indent: -9999px;
  width: 40px;
}
.api-docs #document-area #api-docs-content .main .important {
  background: none repeat scroll 0 0 #fcfbf6;
  border: 1px solid #f6efd4;
  border-radius: 5px 5px 5px 5px;
  padding: 22px 20px 22px 65px;
  position: relative;
}
.api-docs #document-area #api-docs-content .main .important p {
  color: #a57922;
  font-size: 13px !important;
  margin: 0 !important;
}
.api-docs #document-area #api-docs-content .main .important:after {
  background: url("/static-assets/images/form-icons-sprite.png") no-repeat scroll left -249px transparent;
  content: "";
  height: 30px;
  left: 22px;
  position: absolute;
  top: 21px;
  width: 30px;
}
.api-docs #document-area #api-docs-content .main .level-1 header {
  border-bottom: 1px solid #e4e4e4;
  color: #333333;
  font-family: omnes_attmedium, 'helvetica neue', helvetica, sans-serif;
  font-size: 2em;
  margin: 0;
  padding: 40px 0 25px;
}
.api-docs #document-area #api-docs-content .main .level-1 header em {
  font-family: omnes_attmedium_italic, 'helvetica neue', helvetica, sans-serif;
}
.api-docs #document-area #api-docs-content .main .level-1 header .form-icon {
  background: url("/static-assets/images/form-icons-sprite.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  float: right;
  height: 22px;
  margin-left: 22px;
  text-indent: -9999px;
  width: 21px;
}
.api-docs #document-area #api-docs-content .main .level-1 header .form-icon:hover {
  opacity: 0.8;
}
.api-docs #document-area #api-docs-content .main .level-1 header .form-icon.email {
  background-position: left -389px;
}
.api-docs #document-area #api-docs-content .main .level-1 header .form-icon.print {
  background-position: left -411px;
}
.api-docs #document-area #api-docs-content .main .level-1 p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 15px 0;
}
.api-docs #document-area #api-docs-content .main .level-1 p a {
  color: #009add;
}
.api-docs #document-area #api-docs-content .main .level-1 > .level-3 {
  border-top: 1px dashed #eaeaea;
  margin-top: 5px;
  padding-top: 5px;
}
.api-docs #document-area #api-docs-content .main .level-1 > .level-3 li {
  border: medium none !important;
}
.api-docs #document-area #api-docs-content .main .level-2 header {
  border: 0 none;
  color: #0679b3;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 1.53em;
  font-weight: bold;
  margin-top: 30px;
  padding: 0;
  width: 690px;
}
.api-docs #document-area #api-docs-content .main .level-2 .title {
  font-size: 15px;
  font-weight: bold;
}
.api-docs #document-area #api-docs-content .main .level-2 p {
  line-height: 1.5em;
  margin: 20px 0;
}
.api-docs #document-area #api-docs-content .main .level-3 header {
  border: 0 none;
  color: #0679b3;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 1.15em;
  font-weight: bold;
  padding: 10px 0;
}
.api-docs #document-area #api-docs-content .main .level-3 p.small {
  display: inline-block;
  max-width: 50%;
}
.api-docs #document-area #api-docs-content .main .level-3 p + .button {
  float: right;
  margin-top: 16px;
}
.api-docs #document-area #api-docs-content .main .level-3 label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  padding: 6px 8px;
  padding-right: 8px;
  color: #a06f3a;
  background: #fff3da;
  display: inline;
  font-weight: bold;
  font-size: 13px;
}
.api-docs #document-area #api-docs-content .main ol {
  color: #333333;
  margin-left: 20px;
}
.api-docs #document-area #api-docs-content .main ol li {
  font-weight: bold;
  margin-bottom: 0;
}
.api-docs #document-area #api-docs-content .main ol li pre {
  margin-left: -20px;
}
.api-docs #document-area #api-docs-content .main ul {
  list-style-position: inside;
  list-style-type: disc;
  margin-bottom: 25px;
  padding: 0;
}
.api-docs #document-area #api-docs-content .main ul li {
  border-top: 1px solid #eaeaea;
  color: #000000;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  margin: 0;
  padding: 6px 0;
}
.api-docs #document-area #api-docs-content .main ul li:last-child {
  border-bottom: 1px solid #eaeaea;
}
.api-docs #document-area #api-docs-content .main ul li span {
  color: #000000;
}
.api-docs #document-area #api-docs-content .main ul li a {
  color: #009add;
}
.api-docs #document-area #api-docs-content .main ul li ul {
  border-top: 1px solid #eaeaea;
  margin-top: 5px;
}
.api-docs #document-area #api-docs-content .main ul li ul:last-child {
  margin-bottom: -6px;
}
.api-docs #document-area #api-docs-content .main ul li li {
  border-bottom: 1px solid #eaeaea;
  border-top: 0 none;
  color: #666666;
  font-size: 13px;
  margin: 0 0 0 20px;
}
.api-docs #document-area #api-docs-content .main ul li li:last-child {
  border-bottom: 0 none;
}
.api-docs #document-area #api-docs-content .main ul li li li {
  color: #cccccc;
  font-size: 13px;
}
.api-docs #document-area #api-docs-content .main ul li li li:last-child {
  border-bottom: 0 none;
}
.api-docs #document-area #api-docs-content .main ul li ul.options {
  border: 0 none;
}
.api-docs #document-area #api-docs-content .main ul li ul.options li {
  border: 0 none;
  color: #000000;
}
.api-docs #document-area #api-docs-content .main ul:last-child {
  margin-bottom: 10px;
}
.api-docs #document-area #api-docs-content .main ul.small {
  width: 100%;
}
.api-docs #document-area #api-docs-content .main ul.oauth {
  border-bottom: 1px dashed #e4e4e4;
  list-style: none outside none;
  margin: 0;
}
.api-docs #document-area #api-docs-content .main ul.oauth:first-child {
  border-top: 1px dashed #e4e4e4;
}
.api-docs #document-area #api-docs-content .main ul.oauth li {
  -moz-border-left-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #e4e4e4;
  border-image: none;
  border-style: none none none solid;
  border-width: 0 0 0 1px;
  display: inline-block;
  font-size: 15px;
  margin: 12px 0;
  min-width: 105px;
  padding: 20px;
  vertical-align: top;
}
.api-docs #document-area #api-docs-content .main ul.oauth li:first-child {
  border: 0 none;
  padding-left: 0;
}
.api-docs #document-area #api-docs-content .main ul.oauth li p {
  color: #000000;
  margin: 0;
}
.api-docs #document-area #api-docs-content .main ul.oauth li p span {
  color: #999999;
}
.api-docs #document-area #api-docs-content .main ul.oauth li span {
  color: #0679b3;
  font-weight: bold;
}
.api-docs #document-area #api-docs-content .main ul.oauth li.code {
  padding: 12px;
}
.api-docs #document-area #api-docs-content .main ul.oauth li.code .code-block pre {
  padding-bottom: 12px;
  padding-top: 12px;
}
.api-docs #document-area #api-docs-content .main ul.oauth .code pre {
  padding: 15px 20px;
  border: 1px solid #eaeaea;
  background: #f4f4f4;
  color: #333333;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.08em;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  page-break-inside: avoid;
  border-radius: 3px 3px 3px 3px;
}
.api-docs #document-area #api-docs-content .main ul.tab_nav {
  margin-top: 40px;
  list-style: none;
  border: 0;
  border-bottom: 1px solid #e4e4e4;
}
.api-docs #document-area #api-docs-content .main ul.tab_nav li {
  border: 0 none;
  bottom: -1px;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}
.api-docs #document-area #api-docs-content .main ul.tab_nav li a {
  background: none repeat scroll 0 0 #f5f5f5;
  border-radius: 5px 5px 0 0;
  color: #999999;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 10px;
  text-align: center;
}
.api-docs #document-area #api-docs-content .main ul.tab_nav li a.selected {
  color: #0679b3;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #ffffff;
}
.api-docs #document-area #api-docs-content .main .grid {
  padding: 3% 0;
}
.api-docs #document-area #api-docs-content .main .grid .grid-row {
  border-bottom: 1px solid #eaeaea;
  padding: 2% 1%;
}
.api-docs #document-area #api-docs-content .main .grid .grid-row .header {
  color: #666666;
  font-size: 1.15em;
  font-weight: bold;
  padding: 20px 30px 20px 0;
  text-align: left;
}
.api-docs #document-area #api-docs-content .main .grid .identifier {
  width: 30%;
  float: left;
}
.api-docs #document-area #api-docs-content .main .grid .identifier span {
  color: #999999;
  font-weight: bold;
  display: block !important;
}
.api-docs #document-area #api-docs-content .main .grid .identifier span.label {
  padding: 4px 10px;
  background: none repeat scroll 0 0 #f4f4f4;
  border: 1px solid #d1d1d1;
  border-radius: 5px 5px 5px 5px;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9em;
  margin-bottom: 12px;
  padding: 2px 5px;
  width: auto;
}
.api-docs #document-area #api-docs-content .main .grid .identifier span.placement {
  font-weight: normal;
}
.api-docs #document-area #api-docs-content .main .grid .grid-right {
  margin-left: 30%;
}
.api-docs #document-area #api-docs-content .main .grid ul {
  border: 0 none;
  margin: 10px 0 !important;
}
.api-docs #document-area #api-docs-content .main .grid ul li {
  border: 0 none;
  color: #0679b3;
  padding: 0;
}
.api-docs #document-area #api-docs-content .main .grid ul li span {
  color: #000000;
}
.api-docs #document-area #api-docs-content .main .grid ul li:last-child {
  border: 0 none;
}
.api-docs #document-area #api-docs-content .main .grid ol {
  color: #333333;
  margin-left: 20px;
}
.api-docs #document-area #api-docs-content .main .grid ol li {
  font-weight: bold;
  line-height: normal;
  margin-bottom: 12px;
}
.api-docs #document-area #api-docs-content .main .grid ol li span {
  color: #333333;
  font-weight: normal;
}
.api-docs #document-area #api-docs-content .main article.video-tutorial {
  border-bottom: 1px dashed #c2c2c2;
  padding: 30px 0;
}
.api-docs #document-area #api-docs-content .main article.video-tutorial img {
  cursor: pointer;
  float: left;
  margin-right: 25px;
}
.api-docs #document-area #api-docs-content .main article.video-tutorial header {
  border-bottom: 0 none;
  color: #0679b3;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 0;
  width: 680px;
  word-wrap: break-word;
}
.api-docs #document-area #api-docs-content .main article.video-tutorial header sup {
  font-size: 9px;
  position: relative;
  top: -5px;
}
.api-docs #document-area #api-docs-content .main article.video-tutorial header span {
  color: #666666;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-top: 3px;
}
.api-docs #document-area #api-docs-content .main article.video-tutorial p {
  font-size: 12px;
  margin: 12px 0;
}
.api-docs #document-area #api-docs-content .main article.video-tutorial p:last-child {
  margin-bottom: 0;
}
.api-docs #document-area #api-docs-content .main article.video-tutorial .tutorial-video {
  display: none;
}
.api-docs #document-area #api-docs-content .main article.video-tutorial .tutorial-video .player {
  display: block;
  margin: 0 auto;
}
.api-docs #document-area #api-docs-content .main article.video-tutorial .tutorial-video .button {
  display: block;
  float: none;
  margin: 20px auto 0;
  text-align: center;
  width: 100px;
}
.api-docs #document-area #api-docs-content .main pre {
  padding: 15px 20px;
  border: 1px solid #eaeaea;
  background: #f4f4f4;
  color: #333333;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  page-break-inside: avoid;
  border-radius: 3px 3px 3px 3px;
  margin: 15px 0;
}
.api-docs #document-area #api-docs-content .main .code-block {
  position: relative;
}
.api-docs #document-area #api-docs-content .main .code-block:hover .copy-button {
  visibility: visible;
}
.api-docs #document-area #api-docs-content .main .code-block .copy-button {
  background: none repeat scroll 0 0 #c9c9c9;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.67em;
  padding: 1px 6px;
  position: absolute;
  right: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  top: 10px;
  transition: all 0.25s ease 0s;
  visibility: hidden;
}
.api-docs #document-area #api-docs-content .main .code-block .copy-button.zeroclipboard-is-hover {
  color: #333333;
  opacity: 0.8;
  visibility: visible;
}
.api-docs #document-area #api-docs-content .code .code-caption {
  margin-bottom: 0;
  color: #666666;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 1.15em;
  font-weight: bold;
}
.api-docs #api-docs-header {
  position: fixed;
  width: 1200px;
  margin-top: 90px;
  margin-left: 0px;
  background-color: #808080;
  background-image: linear-gradient(#ffffff, #ffffff 60%, #f9f9f9);
  background-repeat: no-repeat;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  height: 75px;
  z-index: 1;
  border-right: 1px solid #e2e2e2;
}
.api-docs #api-docs-header .inner > aside {
  margin-top: -145px;
}
.api-docs #api-docs-header aside {
  color: #666666;
  font-size: 0.92em;
  font-weight: bold;
}
.api-docs #api-docs-header aside .fancy-select {
  display: inline-block;
  margin: -3px 0 0 10px;
  padding-right: 22px;
  vertical-align: middle;
  width: auto;
}
.api-docs #api-docs-header aside .fancy-select .cover {
  border: 1px solid #e5e5e5;
  box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(0, 0, 0, 0.03);
  height: 30px;
  padding-right: 20px;
}
.api-docs #api-docs-header aside .fancy-select .cover .text {
  color: #333333;
  font-size: 12px;
  line-height: 30px;
}
.api-docs #api-docs-header aside .fancy-select .arrow {
  opacity: 0.8;
  right: 14px;
  top: 14px;
}
.api-docs #api-docs-header .main .notice {
  background-color: #fefefe;
  color: #795c1e;
  font-size: 1.06em;
  font-weight: bold;
  line-height: 20px;
  padding: 42px 0 13px 8px;
  width: 90%;
  margin-top: -150px;
  margin-left: 204px;
}
.api-docs #api-docs-header .main .notice .notification-icon {
  background: url("/static-assets/images/form-icons-sprite.png") no-repeat scroll left -193px transparent;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  text-indent: -9999px;
  width: 23px;
}
.api-docs #api-docs-header .main .notice .learn-more {
  color: #795c1e;
  display: inline;
  text-decoration: underline;
}
.api-docs #api-docs-header .main .notice .button {
  color: #ffffff;
  float: right;
  font-size: 12px;
  position: relative;
  right: 0;
  text-align: center;
  top: -16px;
  width: 130px;
}
.api-docs #api-docs-header.fixed-scroll {
  position: fixed;
  top: 0;
}
.api-docs .sample-apps-grid {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.api-docs .sample-apps-grid .grid-row {
  border-bottom: 1px dashed #dddddd;
  padding: 3% 1%;
  font: inherit;
}
.api-docs .sample-apps-grid .item {
  color: #0679b3;
  font-weight: bold;
  width: 30%;
  float: left;
}
.api-docs .sample-apps-grid .item span {
  color: #616162;
  display: inline;
  font-size: 0.84em;
  font-weight: normal;
}
.api-docs .sample-apps-grid .links {
  margin-left: 30%;
}
.api-docs .sample-apps-grid .links a {
  font-size: 1em;
  font-weight: bold;
  margin-right: 3px;
}
.api-docs .sample-apps-grid .item.icon {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("/static-assets/images/docs-icons-sprite.png");
  background-origin: padding-box;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 32px auto !important;
  padding-left: 50px;
}
.api-docs .sample-apps-grid .download {
  background-color: #5d9fda;
  background-image: -moz-linear-gradient(center top, #61a3de, #5898d3);
  background-repeat: repeat-x;
  border: 1px solid #5898d3;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 -1px 0 #4a81b3 inset;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: normal;
  padding: 8px 20px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.api-docs .sample-apps-grid .live-demo {
  background-color: #c2d71c;
  background-image: -moz-linear-gradient(center top, #c6db23, #bbd011);
  background-repeat: repeat-x;
  border: 1px solid #bbd011;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 -1px 0 #a7ba11 inset;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: normal;
  padding: 8px 20px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.api-docs .sample-apps-grid caption {
  -moz-border-left-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #f6f6f6;
  border-color: -moz-use-text-color #eaeaea #eaeaea;
  border-image: none;
  border-right: 1px solid #eaeaea;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  color: #666666;
  font-weight: bold;
  padding: 20px 30px;
  text-align: left;
}
.api-docs .sdk .item {
  color: #0679b3;
  font-weight: bold;
  width: 50%;
  float: left;
}
.api-docs .sdk .links {
  margin-left: 50%;
}
.api-docs .sample-apps-grid.sdk-table .links {
  width: 100%;
}
.api-docs .sample-apps-grid.sdk-table .item.icon {
  background-position: 10px 25px;
}
.api-docs .table.sample-apps caption .fancy-select {
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: middle;
  width: 170px;
}
.api-docs span.copy-button {
  background: none repeat scroll 0 0 #f1f1f1;
  border-radius: 3px 3px 3px 3px;
  color: #898989;
  float: right;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 8px;
  text-transform: uppercase;
}
.api-docs span.copy-button:hover {
  color: #333333;
  opacity: 0.8;
}
.api-docs .pre-footer {
  background: none repeat scroll 0 0 #ebf2f5;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e2e2e2;
  position: relative;
  z-index: 999;
}
.api-docs .pre-footer .container {
  padding: 60px 0;
}
.api-docs .pre-footer article {
  float: left;
  margin: 0;
  padding: 0;
  width: 455px;
}
.api-docs .pre-footer article:first-child {
  padding-right: 45px;
}
.api-docs .pre-footer article header {
  color: #0679b3;
  display: inline-block;
  font-family: clearviewatt_ltbold, 'helvetica neue', helvetica, sans-serif;
  font-size: 1.78em;
}
.api-docs .pre-footer article header em {
  font-family: clearviewatt_ltbold_italic, 'helvetica neue', helvetica, sans-serif;
}
.api-docs .pre-footer article p {
  float: left;
  line-height: normal;
  margin: 8px 0 0;
}
.api-docs .pre-footer article p b {
  font-weight: bold;
}
.api-docs .pre-footer article p a {
  color: #0679b3;
  text-decoration: underline;
}
.api-docs .pre-footer .button {
  background-color: #738996;
  background-image: -moz-linear-gradient(center top, #788e9a, #6c828f);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 -1px 0 #5c6f79 inset;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 1.15em;
  line-height: normal;
  margin: 0 0 0 10px;
  padding: 13px 17px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.api-docs .pre-footer .button span {
  font-weight: normal;
}
.api-docs:before,
.api-docs:after {
  content: "";
  display: table;
}
.api-docs #document-area:before,
.api-docs #document-area:after {
  content: "";
  display: table;
}
.api-docs #api-docs-header .inner,
.api-docs #document-area #api-docs-content .inner {
  margin: 0 auto;
  width: 85%;
  margin-top: 150px;
}
.api-docs #api-docs-header .inner:before,
.api-docs #document-area #api-docs-content .inner:before,
.api-docs #document-area #api-docs-header .inner:after,
.api-docs #document-area #api-docs-content .inner:after {
  content: "";
  display: table;
}
.api-docs #api-docs-header .inner:after,
.api-docs #document-area #api-docs-content .inner:after {
  clear: both;
}
.api-docs #api-docs-header .inner  > aside,
.api-docs #document-area #api-docs-content .inner  > aside {
  float: left;
  padding: 13px 20px 10px 0;
  width: 18%;
}
.api-docs #api-docs-header .inner  > .main,
.api-docs #document-area #api-docs-content .inner  > .main {
  float: left;
  width: 80%;
}
.api-docs #document-area #api-docs-content aside #toc .level-1 li,
.api-docs #document-area #api-docs-content aside #toc .level-2 li,
.api-docs #document-area #api-docs-content aside #toc .level-3 li {
  margin: 0;
}
.api-docs #document-area #api-docs-content aside #toc .level-1 a,
.api-docs #document-area #api-docs-content aside #toc .level-2 a,
.api-docs #document-area #api-docs-content aside #toc .level-3 a {
  display: block;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.api-docs #document-area #api-docs-content .main header,
.api-docs #document-area #api-docs-content .main p,
.api-docs #document-area #api-docs-content .main ul,
.api-docs #document-area #api-docs-content .main li,
td {
  color: #333333;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
.api-docs #document-area #api-docs-content .main .level-1,
.api-docs #document-area #api-docs-content .main .level-2,
.api-docs #document-area #api-docs-content .main .level-3 {
  margin: 0;
  padding: 0;
}
.api-docs #document-area #api-docs-content .main .level-1:before,
.api-docs #document-area #api-docs-content .main .level-2:before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
}
.api-docs #document-area #api-docs-content .main .level-1 p a:hover,
.api-docs #document-area #api-docs-content .main .level-1 p a:active,
.api-docs #document-area #api-docs-content .main .level-1 p a:visited {
  color: #0088c4;
}
.api-docs #document-area #api-docs-content .main ol li span,
.api-docs #document-area #api-docs-content .main ol li pre {
  color: #333333;
  font-weight: normal;
}
.button.blue.hide {
  display: none;
}
.api-docs #document-area #api-docs-content .main table th,
.api-docs #document-area #api-docs-content .main table td {
  border-bottom: 1px solid #eaeaea;
}
.api-docs #document-area #api-docs-content .main .grid .identifier .label,
.api-docs #document-area #api-docs-content .main table td.identifier span,
.api-docs #document-area #api-docs-content .main table td.identifier b {
  display: block;
  margin-bottom: 10px;
  padding-left: 10px;
}
.api-docs .sample-apps-grid .view-on-github,
.api-docs .sample-apps-grid .documentation {
  background-color: #738996;
  background-image: -moz-linear-gradient(center top, #788e9a, #6c828f);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 -1px 0 #5c6f79 inset;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: normal;
  padding: 8px 20px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.api-docs .sample-apps-grid .documentation:hover,
.api-docs .sample-apps-grid .view-on-github:hover,
.api-docs .sample-apps-grid .documentation:active,
.api-docs .sample-apps-grid .view-on-github:active,
.api-docs .sample-apps-grid .documentation.active,
.api-docs .sample-apps-grid .view-on-github.active,
.api-docs .sample-apps-grid .documentation.disabled,
.api-docs .sample-apps-grid .view-on-github.disabled,
.api-docs .sample-apps-grid .documentation[disabled],
.api-docs .sample-apps-grid .view-on-github[disabled] {
  background-color: #6c828f;
}
.api-docs .sample-apps-grid .documentation:hover,
.api-docs .sample-apps-grid .view-on-github:hover,
.api-docs .sample-apps-grid .documentation:active,
.api-docs .sample-apps-grid .view-on-github:active {
  background-color: #677c89;
  background-image: -moz-linear-gradient(center top, #6a828e, #617580);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.api-docs .sample-apps-grid .documentation:hover:hover,
.api-docs .sample-apps-grid .view-on-github:hover:hover,
.api-docs .sample-apps-grid .documentation:active:hover,
.api-docs .sample-apps-grid .view-on-github:active:hover,
.api-docs .sample-apps-grid .documentation:hover:active,
.api-docs .sample-apps-grid .view-on-github:hover:active,
.api-docs .sample-apps-grid .documentation:active:active,
.api-docs .sample-apps-grid .view-on-github:active:active,
.api-docs .sample-apps-grid .documentation.active:hover,
.api-docs .sample-apps-grid .view-on-github.active:hover,
.api-docs .sample-apps-grid .documentation.active:active,
.api-docs .sample-apps-grid .view-on-github.active:active,
.api-docs .sample-apps-grid .documentation.disabled:hover,
.api-docs .sample-apps-grid .view-on-github.disabled:hover,
.api-docs .sample-apps-grid .documentation.disabled:active,
.api-docs .sample-apps-grid .view-on-github.disabled:active,
.api-docs .sample-apps-grid .documentation[disabled]:hover,
.api-docs .sample-apps-grid .view-on-github[disabled]:hover,
.api-docs .sample-apps-grid .documentation[disabled]:active,
.api-docs .sample-apps-grid .view-on-github[disabled]:active {
  background-color: #617580;
}
.api-docs .sample-apps-grid .download:hover,
.api-docs .sample-apps-grid .download:active,
.api-docs .sample-apps-grid .download.active,
.api-docs .sample-apps-grid .download.disabled,
.api-docs .sample-apps-grid .download[disabled] {
  background-color: #5898d3;
}
.api-docs .sample-apps-grid .download:hover,
.api-docs .sample-apps-grid .download:active {
  background-color: #4992d5;
  background-image: -moz-linear-gradient(center top, #4c97da, #448cce);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.api-docs .sample-apps-grid .download:hover:hover,
.api-docs .sample-apps-grid .download:active:hover,
.api-docs .sample-apps-grid .download:hover:active,
.api-docs .sample-apps-grid .download:active:active,
.api-docs .sample-apps-grid .download.active:hover,
.api-docs .sample-apps-grid .download.active:active,
.api-docs .sample-apps-grid .download.disabled:hover,
.api-docs .sample-apps-grid .download.disabled:active,
.api-docs .sample-apps-grid .download[disabled]:hover,
.api-docs .sample-apps-grid .download[disabled]:active {
  background-color: #448cce;
}
.api-docs .sample-apps-grid .live-demo:hover,
.api-docs .sample-apps-grid .live-demo:active,
.api-docs .sample-apps-grid .live-demo.active,
.api-docs .sample-apps-grid .live-demo.disabled,
.api-docs .sample-apps-grid .live-demo[disabled] {
  background-color: #bbd011;
}
.api-docs .sample-apps-grid .live-demo:hover,
.api-docs .sample-apps-grid .live-demo:active {
  background-color: #b9ce1b;
  background-image: -moz-linear-gradient(center top, #bed222, #b3c710);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.api-docs .sample-apps-grid .live-demo:hover:hover,
.api-docs .sample-apps-grid .live-demo:active:hover,
.api-docs .sample-apps-grid .live-demo:hover:active,
.api-docs .sample-apps-grid .live-demo:active:active,
.api-docs .sample-apps-grid .live-demo.active:hover,
.api-docs .sample-apps-grid .live-demo.active:active,
.api-docs .sample-apps-grid .live-demo.disabled:hover,
.api-docs .sample-apps-grid .live-demo.disabled:active,
.api-docs .sample-apps-grid .live-demo[disabled]:hover,
.api-docs .sample-apps-grid .live-demo[disabled]:active {
  background-color: #b3c710;
}
.api-docs .pre-footer .button:hover,
.api-docs .pre-footer .button:active,
.api-docs .pre-footer .button.active,
.api-docs .pre-footer .button.disabled,
.api-docs .pre-footer .button[disabled] {
  background-color: #6c828f;
}
.api-docs .pre-footer .button:hover,
.api-docs .pre-footer .button:active {
  background-color: #677c89;
  background-image: -moz-linear-gradient(center top, #6a828e, #617580);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.api-docs .pre-footer .button:hover:hover,
.api-docs .pre-footer .button:active:hover,
.api-docs .pre-footer .button:hover:active,
.api-docs .pre-footer .button:active:active,
.api-docs .pre-footer .button.active:hover,
.api-docs .pre-footer .button.active:active,
.api-docs .pre-footer .button.disabled:hover,
.api-docs .pre-footer .button.disabled:active,
.api-docs .pre-footer .button[disabled]:hover,
.api-docs .pre-footer .button[disabled]:active {
  background-color: #617580;
}
.navbtn {
  display: none;
  background: url('../images/menu.png') center no-repeat;
  top: 0;
  width: 20px;
  height: 50px;
  overflow: hidden;
  text-indent: -99999px;
  margin-left: 10px;
}
#att-footer-responsive {
  display: none;
}
.tab_content {
  height: 500px;
  overflow: auto;
}
.codeElement {
  white-space: pre-wrap !important;
  font-family: monospace !important;
  color: #ffffff !important;
  background-color: #000000 !important;
}
.modular-page section {
  border-bottom: 0px solid #E1E1E1;
}
.Title {
  color: #ff40ff;
  font-weight: bold;
}
.LineNr {
  color: #ffff00;
  font-weight: bold;
}
.Comment {
  color: #00ffff;
  font-weight: bold;
}
.Constant {
  color: #ff40ff;
  font-weight: bold;
}
.Special {
  color: #ff6060;
  font-weight: bold;
}
.Identifier {
  color: #00ffff;
  font-weight: bold;
}
.Statement {
  color: #ffff00;
  font-weight: bold;
}
.PreProc {
  color: #8080ff;
  font-weight: bold;
}
.Type {
  color: #00ff00;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .api-docs .sub-header-container {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
  .api-docs .sub-header-container .sub-header {
    height: 63px;
    z-index: 1000;
    margin-left: 0%;
    width: 100%;
  }
  .api-docs .sub-header .fixed-scroll {
    top: 0;
    position: fixed;
  }
  .api-docs #document-area #api-docs-header {
    height: 60px;
    background-color: #808080;
    z-index: 1;
    top: 40px;
  }
  .api-docs #document-area #api-docs-header .inner > aside {
    padding: 0;
    padding-top: 4px;
    margin-top: -146px;
    margin-left: -60px;
  }
  .api-docs #document-area #api-docs-header .inner > .main {
    display: none;
    height: 20px;
  }
  .api-docs #document-area #api-docs-header.fixed-scroll {
    position: fixed;
    margin-top: 60px;
  }
  .api-docs #document-area #api-docs-content aside #toc {
    display: none;
  }
  .api-docs #document-area #api-docs-content .inner > .main {
    width: 70%;
    position: relative;
    clear: both;
    width: 40%;
    margin-left: -10%;
    margin-top: -3%;
    padding-top: 4%;
  }
  .api-docs #document-area #api-docs-content .main article.video-tutorial img {
    display: none;
  }
  .api-docs #document-area #api-docs-content .main .grid .identifier {
    width: 30%;
    float: none;
    clear: both;
    margin-top: 3%;
  }
  .api-docs #document-area #api-docs-content .main .grid .grid-right {
    margin-left: 3%;
  }
  .api-docs #api-docs-header .main .notice {
    display: none;
  }
  .api-docs #api-docs-header.fixed-scroll {
    position: fixed;
    top: -25px;
  }
  #content-area .sub-header h1 {
    padding-left: 2%;
    margin-top: -15px;
  }
  #document-area #api-docs-content .inner {
    margin-left: 0;
    position: relative;
    width: 95%;
  }
  .button.blue.hide {
    display: inline;
    position: fixed;
    margin-left: 214px;
    margin-top: -54px;
  }
  #att-footer {
    display: none;
  }
  #att-footer-responsive {
    display: block;
  }
}
#content-area {
  border-left: 0;
  border-right: 0;
}
/*error page*/
.api-docs #errors .sub-banner {
  width: 960px;
  margin: 3% auto;
  height: 100px;
}
.api-docs #errors #api-docs-header {
  height: 146px;
}
.api-docs #errors section:last-child {
  behavior: url('/css/PIE.htc');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.api-docs #errors #filters {
  height: 145px;
  letter-spacing: normal;
  margin-bottom: 0;
}
.api-docs #errors #filters .inner {
  margin: 0 auto;
  padding: 35px 0 45px;
  width: 960px;
}
.api-docs #errors #filters .filter {
  float: left;
  padding-top: 25px;
  position: relative;
}
.api-docs #errors #filters .filter label {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #666666;
  font-size: 13px;
  font-weight: normal;
  left: 0;
  position: absolute;
  top: 0;
}
.api-docs #errors #filters .filter .fancy-select {
  margin-right: 14px;
  width: 206px;
}
.api-docs #errors #filters .filter .fancy-select .text {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #454545;
}
.api-docs #errors #filters .filter .fancy-select select {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 40px;
  z-index: 10;
}
.api-docs #errors #filters .filter .fancy-select .cover {
  width: 100%;
  height: 38px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  behavior: url('/css/PIE.htc');
  -webkit-box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #cccccc;
  float: left;
  background-color: #ffffff;
}
.api-docs #errors #filters .filter .fancy-select .arrow {
  position: absolute;
  top: 18px;
  right: 10px;
  font-family: clearviewatt_ltbold, 'helvetica neue', helvetica, sans-serif;
  width: 10px;
  height: 7px;
  background-size: 32px!important;
  background: url('/images/form-icons-sprite.png') no-repeat left -61px;
}
.api-docs #errors #filters input#errorcode {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(/images/icon-search.png) no-repeat 10px 50%;
  color: #454545;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 11px 14px 11px 35px;
  width: 520px;
  margin-top: -4px;
}
.api-docs #errors .page .container.short {
  padding: 50px 0;
}
.api-docs #errors #error-code {
  padding-top: 210px;
}
.api-docs #errors header.error-detail {
  font-family: omnes_attlight, 'helvetica neue', helvetica, sans-serif;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 1em;
  color: #45494d;
  line-height: normal;
}
.api-docs #errors .sample-apps-grid .hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.api-docs #errors .sample-apps-grid .grid-row {
  padding: 15px;
}
.api-docs #errors .sample-apps-grid .header .item,
.api-docs #errors .sample-apps-grid .header .links {
  color: #999999;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}
.api-docs #errors .errors-grid {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.api-docs #errors .errors-grid .grid-row {
  border-bottom: 1px dashed #dddddd;
  padding: 3% 1%;
  font: inherit;
}
.api-docs #errors .errors-grid .item {
  color: #0679b3;
  font-weight: bold;
  width: 30%;
  float: left;
}
.api-docs #errors .errors-grid .item span {
  color: #616162;
  display: inline;
  font-size: 0.84em;
  font-weight: normal;
}
.api-docs #errors .errors-grid .links {
  margin-left: 30%;
}
.api-docs #errors .errors-grid .links a {
  font-size: 1em;
  font-weight: bold;
  margin-right: 3px;
}
.api-docs #errors .errors-grid {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 3% 0;
}
.api-docs #errors .errors-grid .grid-row {
  border-bottom: 1px solid #dddddd;
  padding: 2% 1%;
  font: inherit;
}
.api-docs #errors .errors-grid .item {
  color: #000000;
  font-weight: bold;
  width: 30%;
  float: left;
}
.api-docs #errors .errors-grid .item span {
  color: #616162;
  display: inline;
  font-size: 0.84em;
  font-weight: normal;
}
.api-docs #errors .errors-grid .error-code {
  color: #0679b3;
  font-weight: bold;
}
.api-docs #errors .errors-grid .status-code {
  color: #009add;
}
.api-docs #errors header.error-detail {
  font-size: 30px;
  color: #0679b3;
  padding: 2% 1%;
}
